* {
  box-sizing: border-box;
}
body {
  width: 800px;
  margin: auto;
  border: 1px solid black;
  font-family: 'Koulen', cursive;
  padding: 10px;
  background-color: #f1f1f1;
}
hr {
  width: 780px;
}
.avatar {
  width: 200px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 40px;
}

.info {
  display: flex;
  margin-bottom: 20px;
}
.info-text {
  margin-left: 40px;
}
.footer-style h3 {
  text-align: center;
  margin-bottom: 0px;
}
.textarea {
  display: flex;
  margin-left: 20px;
}
.footer-media {
  display: flex;
}
.button {
  margin-left: 20px;
}
.footer-social {
  display: flex;
  justify-content: center;
}
.insta,
.twit,
.linked,
.vk {
  margin: 10px;
}
textarea {
  padding-top: 5px;
}
.container {
  width: 800px;
}
.item {
  width: 150px;
  border: 2px ridge black;
  border-color: rgb(42, 42, 134);
  box-sizing: border-box;
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  text-align: center;
}
.item > p {
  font-family: 'Fredoka One', cursive;
  font-size: 14px;
}
.bam {
  padding: 5px;
  border-radius: 10px;
}
.bam__title {
  width: 200px;
  margin: 5px;
}
.bam__title > h4 {
  margin: 0;
}
.bam__title.bam__title-blue {
  color: rgb(103, 78, 126);
}
.bam__description {
  padding: 10px;
}
.bam__description.bam__description-position {
  text-align: center;
}
.bam__description > p > span {
  color: blue;
}
.bg {
  border: 1px solid black;
  border-radius: 20px;
  width: 250px;
  height: 250px;
  margin: 20px 0px 0px 40px;
  background: url('../hm3/images/pngtree-fashion-future-technology-sense-picture-image_165857.jpg')
    center/cover no-repeat;
}
.btn {
  width: 100px;
  height: 60px;
  margin-left: 10px;
  padding: 0;
  border: 1px solid black;
  border-radius: 10px;
  line-height: 60px;
  text-align: center;
  background-color: bisque;
}

.btn button {
  cursor: pointer;
  opacity: 0.9;
}
